<ons-page id="home">

  <!-- <ons-list>
   <ons-list-header>Default</ons-list-header>
    <ons-list-item>Item A</ons-list-item>
    <ons-list-item>Item B</ons-list-item>
  
  </ons-list> -->

  <div class="games-container">

    <div class="consoles">
      <h4>Consoles</h4>
      <ons-carousel auto-refresh swipeable overscrollable item-width="130px" class="consoles_home"></ons-carousel>
    </div>

    <div class="consoles">
      <h4>Genre</h4>
      <ons-carousel auto-refresh swipeable overscrollable item-width="130px" class="consoles_home"></ons-carousel>
    </div>
    <div class="consoles">
      <h4>Trending</h4>
      <ons-carousel auto-refresh swipeable overscrollable item-width="130px" class="consoles_home"></ons-carousel>
    </div>
  </div><!--end of games-container-->
  


</ons-page>


