<ons-page id="messages">
 <ons-toolbar>
      <div class="left"><ons-back-button>back</ons-back-button></div>
      <div class="center">Messages</div>
    </ons-toolbar>
<ons-pull-hook id="pull-hook">
    Pull to refresh
  </ons-pull-hook>
 <!-- <ons-button id="push-button">message 1</ons-button> -->

 <ons-list>
  
<ons-list-item modifier="longdivider" tappable id="msg1">
      <div class="left">
        <img class="list-item__thumbnail" src="https://placekitten.com/g/40/40">
      </div>
      <div class="center">
        <span class="list-item__title">Person 1</span><span class="list-item__subtitle">Lorem.</span>
      </div>
</ons-list-item>



      <!-- <div style="text-align: center; margin-bottom: 30px">
        <ons-icon size="30px" spin icon="md-spinner"></ons-icon>
      </div> -->
    </ons-list>
  </ons-page>
