<ons-page id="profile">
	<ons-toolbar>
		<div class="left"><ons-back-button>back</ons-back-button></div>
		<div class="center">Profile</div>
	</ons-toolbar>

	<form>
		<div class="user-info">

			<img class="fbPic" src="rdjr.png">
			<span class="user">Bob Vance</span>
		</div>

		<h2>my games</h2>
		<ul class="mygames">

		</ul>
		<div class="upload">
			<ons-input id="game-name" modifier="underbar" type="text" placeholder="Name of the game" value="" float></ons-input>
			<input type="file" id="game-pic-up" name="game-pic"/>
			<img alt="" id="game-pic" src="" width="100">
		</div>
		<!-- <ons-button type="submit" class="submit-game-pic">Save</ons-button> -->

	</form>
</ons-page>
