<ons-page id="register">
	<ons-toolbar>
		<div class="left"><ons-back-button>back</ons-back-button></div>
		<div class="center">xChange Register</div>
	</ons-toolbar>

	<div class="info-field-container">
		<div class="input-ctn">

			<p>
				<ons-input id="user" modifier="underbar" type="text" placeholder="Username" value="" float></ons-input>
			</p>
			<p>
				<ons-input id="txtEmail" modifier="underbar" type="email" placeholder="Email" float></ons-input>
			</p>

			<p>
				<ons-input id="txtPassword" modifier="underbar" placeholder="Password" type="password" float></ons-input>
			</p>
			<p>
				<ons-input id="cnf_pss" modifier="underbar" type="password" placeholder="Confirm Password" float></ons-input>
			</p>
			<p>
				<!-- <input type="file" id="file" name="file"/> -->
				<img alt="" id="profilepic" src="" width="100">
			</p>

		</div> <!--endo of input-ctn-->
	</div><!--end of info field container-->
	<ons-button id="btnSignUp" class="continue-btn" onclick="register2()">Sign Up</ons-button>




</ons-page>
