<ons-page id="settings">
 <!--  <ons-toolbar>
    <div class="center">Settings</div>
  </ons-toolbar> -->

  <ons-list>
    <ons-list-header>something</ons-list-header>
    <ons-list-item tappable>
      <div class="left">
        <ons-icon icon="fa-pencil" class="list-item__icon"></ons-icon>
      </div>
      <div class="center">
        Me
      </div>
      <div class="right list-item__right">
        <div class="list-item__label">Bob Vance</div>
      </div>
    </ons-list-item>

    <ons-list-header>&nbsp;</ons-list-header>
    <ons-list-item tappable>
      <div class="left">
        <ons-icon icon="fa-bell" class="list-item__icon"></ons-icon>
      </div>
      <div class="center">
        Notifications
      </div>
      <div class="list-item__right">
        <div class="list-item__label">All</div>
      </div>
    </ons-list-item>

    <ons-list-header>&nbsp;</ons-list-header>
    <ons-list-item tappable>
      <div class="left">
        <ons-icon icon="fa-cog" class="list-item__icon"></ons-icon>
      </div>
      <div class="center">
        General
      </div>
      <div class="list-item__right">
        <div class="list-item__label">Compress Photos</div>
      </div>
    </ons-list-item>

    <ons-list-header>&nbsp;</ons-list-header>
    <ons-list-item tappable>
      <div class="left">
        <ons-icon icon="fa-user" class="list-item__icon"></ons-icon>
      </div>
      <div class="center">
        Account
      </div>
      <div class="list-item__right">
        <div class="list-item__label">bobvance@mail.com</div>
      </div>
    </ons-list-item>
    
    <ons-list-header>&nbsp;</ons-list-header>
    <ons-list-item tappable>
      <div class="left">
        <ons-icon icon="fa-lock" class="list-item__icon"></ons-icon>
      </div>
      <div class="center">
        Privacy
      </div>
      <div class="list-item__right">
        <div class="list-item__label">Only me</div>
      </div>
    </ons-list-item>

   

  </ons-list>

   <ons-button id="btnLogout" onclick="logout()">Logout</ons-button>

</ons-page>