$primary-color:#1b1464;
$secondary-color:#2b3277;
$tertiary-color:#1f98b3; //not so bright green
$forty-color:#17b5bc;// bright green
$white:#fff;
$pink:#7f01aa;
$dark-blue:#1B215D;


/* color map*/
/*
dark blue- #1B215D

shadow green -#1D5A67

not-as-dark-blue- #2B3277

dark-green -#1F98B3



*/
